<!-- source/flats/show.html.erb -->

<!-- Read from data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Show header -->
<div class="flat_page_header" style="background-image: linear-gradient(-180deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.4) 50%), url('<%= image_path flat.picture %>')");">
</div>

<%#= image_tag flat.picture, class: "flat_page_header" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1><%= flat.owner_name class: ""%></h1>
      <p><%= flat.city %></p>
      <%= image_tag flat.owner_picture, style: "width: 100px", class: "img-circle" %>
    </div>
    <div class="container">
      <div class="wrapper-form-page">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="inside-form">
            <form action="" class="from-control">
              <div class="form-group">
                <label for="email" class="form-displ">Subscribe our AWESOME Newsletter</label>
                <input type="email" placeholder="mich@lb.ch" id="email" class="form-control">
                <input type="submit" value="subscribe" class="btn btn-block btn-primary">
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Inject flat data in template -->
<div class="container wrapper-description-page">
  <h3>About this flat</h3>
  <h4><%= flat.summary %></h4>
  <p>wifi : <%= flat.wifi ? "yes" : "no" %></p>
</div>



